<div class="main-container">
  <div class="calendar-container">
    <div class="calendar-header-wrapper">
      <%= link_to memos_calendar_path(date: @memos.first.created_at - 1.month), class: 'nav-link' do %>
        <i class="fa-solid fa-angle-left"></i>
      <% end %>
      <h1 class="calendar-title"><%= l(Date.today, format: '%Y年%m月') %></h1>
      <%= link_to memos_calendar_path(date: @memos.first.created_at + 1.month), class: 'nav-link' do %>
        <i class="fa-solid fa-angle-right"></i>
      <% end %>
    </div>
    
    <div class="simple-calendar">
      <%= month_calendar(events: @memos, header: false, number_of_days: 35) do |date, memos| %>
        <div class="calendar-day <%= 'has-memo' if memos.any? %>">
          <div class="day-number"><%= date.day %></div>
          <% if memos.any? %>
            <div class="memo-count">
              <%= link_to memos.count, memos_on_date_path(date: date) %>件
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="memo-actions">
    <%= link_to 'トップページに戻る', root_path, class: "button-back" %>
  </div>
</div>