<div class="main-container">
  <div class="calendar-container">
    <div class="calendar-header-wrapper">
      <%= link_to memos_calendar_path(date: @date.prev_month), class: 'nav-link' do %>
        <i class="fa-solid fa-angle-left"></i>
      <% end %>
      <h1 class="calendar-title"><%= l(@date, format: '%Y年%m月') %></h1>
      <%= link_to memos_calendar_path(date: @date.next_month), class: 'nav-link' do %>
        <i class="fa-solid fa-angle-right"></i>
      <% end %>
    </div>
    
    <div class="simple-calendar">
      <%= month_calendar(date: @date, events: @memos, header: false, number_of_days: 35) do |date, memos| %>
        <div class="calendar-day <%= "wday-#{date.wday}" %> <%= 'has-memo' if memos.any? %>">
          <%= link_to memos_on_date_path(date: date) do %>
            <div class="day-number"><%= date.day %></div>
            <% if memos.any? %>
              <div class="memo-count">
                <%= memos.count %>件
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="memo-actions">
      <%= link_to 'トップページに戻る', root_path, class: "button-back" %>
    </div>
  </div>
</div>